*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    color: white;
    text-transform:;
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    margin-right: 80px;
    
}
.hero1{

color: white;
    background-image: url(grey.png);
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-right: 0px;

}
.hero2{

color: white;
    background-image: url(grey.png);
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-right: 0px;
    width: 350px;
    
}
.heroimg{


	width: 40px;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic1.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
}
header:hover{

 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic3.jpg);








}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}


.container{
    
    
    



}

 
 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #e6e6e6;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}
h2,h3 {

color: white;

}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed .footer-left{
	width: 40%;
}



.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: 	100%;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 7px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.tabel {
  float: left;
  width: 30%;
  padding: 8px;
}

.prijs {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prijs:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.prijs .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.prijs li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  background-image: url(grey.png);
  color: white;
}

.prijs .grey {
  background-image: url(whitejwz.png);
  font-size: 20px;
}

.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
.voertuigen{
	display: flex;
	margin-top :50px;
	margin-left:80px;
	color: white;
	font-size :10px;
}
.motor{
	margin-right: 10px;

}
.auto{
	margin-right: 10px;
}
.article{
	font-size: 20px;
}



.medewerkers{
	display: flex;
	margin-top :50px;
	margin-left:80px;
	color: white;
	font-size :10px;
}
.foto1{
	margin-right: 10px;

}
.foto2{
	margin-right: 10px;
}
.ons{
	/*display: block;*/
  font-size: 20px;
  float: left;
  width: 500px;
}

.hero3 {
  display: flex;
    color: white;
    background-image: url(grey.png);
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    margin-right: 0px;
    width: 100%;
    padding: 30px;


}
.gebouw{
  /*float: right;*/
  /*width: 500px;*/
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 18px;
  /*height: 350px;*/
}

.gebouw img{
  width:200%;
  height: 55%;
}







